.formulario-contacto{
    width: 940px;
    margin: 0px auto;
    padding: 50px;
}

form label, form p{
    display: inline-block;
    font-size: 20px;
    margin: 0 0 10px;
}

.label-standard{
    display: block;
    padding: 10px 25px;
    margin: 0 0 20px;
    width: 50%;
}