h2 {
    font-size: 30px;
}

.formulario-contacto{
    width: 940px;
    margin: 0px auto;
    padding: 50px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.label-standard{
    display: block;
    padding: 10px 25px;
    margin: 0 0 20px;
    width: 50%;
}

.espacio{
    margin: 30px 0px 15px 0px;
}

.seleccion {
    padding: 5px;
}

.enviar{
    width: 40%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #ff6362;
    border: none;
    border-radius: 5px;
    /*Transición */
    transition: 1s all;
    /*Cursor */
    cursor: pointer;
}

.enviar:hover{
    background: #ff2a66;
    transform: scale(1.2);
}