h2 {
    font-size: 30px;
}

.formulario-contacto{
    width: 940px;
    margin: 0px auto;
    padding: 50px;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.label-standard{
    display: block;
    padding: 10px 25px;
    margin: 0 0 20px;
    width: 50%;
}

.espacio{
    margin: 35px 0px 15px 0px;
}